@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.font-lobster {
  font-family: "Lobster", cursive;
}

.decor-link {
  border: 2px solid #286f6c;
  border-top: 0;
  border-bottom: 0;
  border-radius: 15px;
}
.intro-screen {
  height: calc(100vh - 92px);
}

.fancy-border {
  z-index: 2;
  position: absolute;
  left: 50%;
  /* top: 50%; */
  border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
  transform: translateX(-50%);
  transition: border-radius 13s ease;
  animation: border 10s infinite;
  background-color: #286f6c;
}

@keyframes border {
  0% {
    border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
  }
  50% {
    border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
  }
  0% {
    border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
  }
}
